USE [master]
GO
/****** Object:  Database [Oqtane-202101071839]    Script Date: 1/11/2021 1:49:40 PM ******/
CREATE DATABASE [Oqtane-202101071839]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Oqtane-202101071839', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Oqtane-202101071839.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Oqtane-202101071839_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Oqtane-202101071839_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Oqtane-202101071839].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Oqtane-202101071839]
GO
/****** Object:  Table [dbo].[Alias]    Script Date: 1/11/2021 1:49:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alias](
	[AliasId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[TenantId] [int] NOT NULL,
	[SiteId] [int] NOT NULL,
	[CreatedBy] [nvarchar](256) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](256) NOT NULL,
	[ModifiedOn] [datetime] NOT NULL,
 CONSTRAINT [PK_Alias] PRIMARY KEY CLUSTERED 
(
	[AliasId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 1/11/2021 1:49:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 1/11/2021 1:49:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[File]    Script Date: 1/11/2021 1:49:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[File](
	[FileId] [int] IDENTITY(1,1) NOT NULL,
	[FolderId] [int] NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[Extension] [nvarchar](50) NOT NULL,
	[Size] [int] NOT NULL,
	[ImageHeight] [int] NOT NULL,
	[ImageWidth] [int] NOT NULL,
	[CreatedBy] [nvarchar](256) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](256) NOT NULL,
	[ModifiedOn] [datetime] NOT NULL,
	[DeletedBy] [nvarchar](256) NULL,
	[DeletedOn] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_File] PRIMARY KEY CLUSTERED 
(
	[FileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Folder]    Script Date: 1/11/2021 1:49:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Folder](
	[FolderId] [int] IDENTITY(1,1) NOT NULL,
	[SiteId] [int] NOT NULL,
	[Path] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[ParentId] [int] NULL,
	[Order] [int] NOT NULL,
	[IsSystem] [bit] NOT NULL,
	[CreatedBy] [nvarchar](256) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](256) NOT NULL,
	[ModifiedOn] [datetime] NOT NULL,
	[DeletedBy] [nvarchar](256) NULL,
	[DeletedOn] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Folder] PRIMARY KEY CLUSTERED 
(
	[FolderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GearmentDepartment]    Script Date: 1/11/2021 1:49:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GearmentDepartment](
	[DepartmentId] [int] IDENTITY(1,1) NOT NULL,
	[ModuleId] [int] NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
	[CreatedBy] [nvarchar](256) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](256) NOT NULL,
	[ModifiedOn] [datetime] NOT NULL,
	[DailyStartTime] [datetime] NOT NULL,
	[DailyEndTime] [datetime] NOT NULL,
	[BreakStartTime] [datetime] NOT NULL,
	[BreakEndTime] [datetime] NOT NULL,
	[TotalRestHour] [int] NOT NULL,
 CONSTRAINT [PK_GearmentDepartment] PRIMARY KEY CLUSTERED 
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GearmentEmployee]    Script Date: 1/11/2021 1:49:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GearmentEmployee](
	[EmployeeId] [int] IDENTITY(1,1) NOT NULL,
	[ModuleId] [int] NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
	[CreatedBy] [nvarchar](256) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](256) NOT NULL,
	[ModifiedOn] [datetime] NOT NULL,
	[PayrollID] [int] NOT NULL,
	[Rate] [float] NOT NULL,
	[Department] [nvarchar](256) NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[Status] [nvarchar](256) NOT NULL,
	[Note] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_GearmentEmployee] PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GearmentTimesheet]    Script Date: 1/11/2021 1:49:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GearmentTimesheet](
	[TimesheetId] [int] IDENTITY(1,1) NOT NULL,
	[ModuleId] [int] NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
	[CreatedBy] [nvarchar](256) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](256) NOT NULL,
	[ModifiedOn] [datetime] NOT NULL,
 CONSTRAINT [PK_GearmentTimesheet] PRIMARY KEY CLUSTERED 
(
	[TimesheetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HtmlText]    Script Date: 1/11/2021 1:49:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HtmlText](
	[HtmlTextId] [int] IDENTITY(1,1) NOT NULL,
	[ModuleId] [int] NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[CreatedBy] [nvarchar](256) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](256) NOT NULL,
	[ModifiedOn] [datetime] NOT NULL,
 CONSTRAINT [PK_HtmlText] PRIMARY KEY CLUSTERED 
(
	[HtmlTextId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Job]    Script Date: 1/11/2021 1:49:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Job](
	[JobId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[JobType] [nvarchar](200) NOT NULL,
	[Frequency] [char](1) NOT NULL,
	[Interval] [int] NOT NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[IsEnabled] [bit] NOT NULL,
	[IsStarted] [bit] NOT NULL,
	[IsExecuting] [bit] NOT NULL,
	[NextExecution] [datetime] NULL,
	[RetentionHistory] [int] NOT NULL,
	[CreatedBy] [nvarchar](256) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](256) NOT NULL,
	[ModifiedOn] [datetime] NOT NULL,
 CONSTRAINT [PK_Job] PRIMARY KEY CLUSTERED 
(
	[JobId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobLog]    Script Date: 1/11/2021 1:49:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobLog](
	[JobLogId] [int] IDENTITY(1,1) NOT NULL,
	[JobId] [int] NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[FinishDate] [datetime] NULL,
	[Succeeded] [bit] NULL,
	[Notes] [nvarchar](max) NULL,
 CONSTRAINT [PK_JobLog] PRIMARY KEY CLUSTERED 
(
	[JobLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Log]    Script Date: 1/11/2021 1:49:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Log](
	[LogId] [int] IDENTITY(1,1) NOT NULL,
	[SiteId] [int] NULL,
	[LogDate] [datetime] NOT NULL,
	[PageId] [int] NULL,
	[ModuleId] [int] NULL,
	[UserId] [int] NULL,
	[Url] [nvarchar](2048) NOT NULL,
	[Server] [nvarchar](200) NOT NULL,
	[Category] [nvarchar](200) NOT NULL,
	[Feature] [nvarchar](200) NOT NULL,
	[Function] [nvarchar](20) NOT NULL,
	[Level] [nvarchar](20) NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[MessageTemplate] [nvarchar](max) NOT NULL,
	[Exception] [nvarchar](max) NULL,
	[Properties] [nvarchar](max) NULL,
 CONSTRAINT [PK_Log] PRIMARY KEY CLUSTERED 
(
	[LogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Module]    Script Date: 1/11/2021 1:49:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Module](
	[ModuleId] [int] IDENTITY(1,1) NOT NULL,
	[SiteId] [int] NOT NULL,
	[ModuleDefinitionName] [nvarchar](200) NOT NULL,
	[CreatedBy] [nvarchar](256) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](256) NOT NULL,
	[ModifiedOn] [datetime] NOT NULL,
	[AllPages] [bit] NULL,
 CONSTRAINT [PK_Module] PRIMARY KEY CLUSTERED 
(
	[ModuleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ModuleDefinition]    Script Date: 1/11/2021 1:49:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ModuleDefinition](
	[ModuleDefinitionId] [int] IDENTITY(1,1) NOT NULL,
	[ModuleDefinitionName] [nvarchar](200) NOT NULL,
	[Name] [nvarchar](200) NULL,
	[Description] [nvarchar](2000) NULL,
	[Categories] [nvarchar](200) NULL,
	[Version] [nvarchar](50) NULL,
	[CreatedBy] [nvarchar](256) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](256) NOT NULL,
	[ModifiedOn] [datetime] NOT NULL,
 CONSTRAINT [PK_ModuleDefinition] PRIMARY KEY CLUSTERED 
(
	[ModuleDefinitionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 1/11/2021 1:49:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[NotificationId] [int] IDENTITY(1,1) NOT NULL,
	[SiteId] [int] NOT NULL,
	[FromUserId] [int] NULL,
	[ToUserId] [int] NULL,
	[ToEmail] [nvarchar](256) NOT NULL,
	[Subject] [nvarchar](256) NOT NULL,
	[Body] [nvarchar](max) NOT NULL,
	[ParentId] [int] NULL,
	[CreatedOn] [datetime] NOT NULL,
	[IsDelivered] [bit] NOT NULL,
	[DeliveredOn] [datetime] NULL,
	[DeletedBy] [nvarchar](256) NULL,
	[DeletedOn] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[FromDisplayName] [nvarchar](50) NULL,
	[FromEmail] [nvarchar](256) NULL,
	[ToDisplayName] [nvarchar](50) NULL,
	[SendOn] [datetime] NULL,
 CONSTRAINT [PK_Notification] PRIMARY KEY CLUSTERED 
(
	[NotificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Page]    Script Date: 1/11/2021 1:49:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Page](
	[PageId] [int] IDENTITY(1,1) NOT NULL,
	[SiteId] [int] NOT NULL,
	[Path] [nvarchar](256) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Title] [nvarchar](200) NULL,
	[ThemeType] [nvarchar](200) NULL,
	[Icon] [nvarchar](50) NOT NULL,
	[ParentId] [int] NULL,
	[Order] [int] NOT NULL,
	[IsNavigation] [bit] NOT NULL,
	[Url] [nvarchar](500) NULL,
	[LayoutType] [nvarchar](200) NOT NULL,
	[UserId] [int] NULL,
	[IsPersonalizable] [bit] NOT NULL,
	[CreatedBy] [nvarchar](256) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](256) NOT NULL,
	[ModifiedOn] [datetime] NOT NULL,
	[DeletedBy] [nvarchar](256) NULL,
	[DeletedOn] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DefaultContainerType] [nvarchar](200) NULL,
 CONSTRAINT [PK_Page] PRIMARY KEY CLUSTERED 
(
	[PageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PageModule]    Script Date: 1/11/2021 1:49:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PageModule](
	[PageModuleId] [int] IDENTITY(1,1) NOT NULL,
	[PageId] [int] NOT NULL,
	[ModuleId] [int] NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Pane] [nvarchar](50) NOT NULL,
	[Order] [int] NOT NULL,
	[ContainerType] [nvarchar](200) NOT NULL,
	[CreatedBy] [nvarchar](256) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](256) NOT NULL,
	[ModifiedOn] [datetime] NOT NULL,
	[DeletedBy] [nvarchar](256) NULL,
	[DeletedOn] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_PageModule] PRIMARY KEY CLUSTERED 
(
	[PageModuleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permission]    Script Date: 1/11/2021 1:49:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permission](
	[PermissionId] [int] IDENTITY(1,1) NOT NULL,
	[SiteId] [int] NOT NULL,
	[EntityName] [nvarchar](50) NOT NULL,
	[EntityId] [int] NOT NULL,
	[PermissionName] [nvarchar](50) NOT NULL,
	[RoleId] [int] NULL,
	[UserId] [int] NULL,
	[IsAuthorized] [bit] NOT NULL,
	[CreatedBy] [nvarchar](256) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](256) NOT NULL,
	[ModifiedOn] [datetime] NOT NULL,
 CONSTRAINT [PK_Permission] PRIMARY KEY CLUSTERED 
(
	[PermissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Profile]    Script Date: 1/11/2021 1:49:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Profile](
	[ProfileId] [int] IDENTITY(1,1) NOT NULL,
	[SiteId] [int] NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](256) NULL,
	[Category] [nvarchar](50) NOT NULL,
	[ViewOrder] [int] NOT NULL,
	[MaxLength] [int] NOT NULL,
	[DefaultValue] [nvarchar](2000) NULL,
	[IsRequired] [bit] NOT NULL,
	[IsPrivate] [bit] NOT NULL,
	[CreatedBy] [nvarchar](256) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](256) NOT NULL,
	[ModifiedOn] [datetime] NOT NULL,
	[Options] [nvarchar](2000) NULL,
 CONSTRAINT [PK_Profile] PRIMARY KEY CLUSTERED 
(
	[ProfileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 1/11/2021 1:49:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[SiteId] [int] NULL,
	[Name] [nvarchar](256) NOT NULL,
	[Description] [varchar](256) NOT NULL,
	[IsAutoAssigned] [bit] NOT NULL,
	[IsSystem] [bit] NOT NULL,
	[CreatedBy] [nvarchar](256) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](256) NOT NULL,
	[ModifiedOn] [datetime] NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SchemaVersions]    Script Date: 1/11/2021 1:49:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SchemaVersions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ScriptName] [nvarchar](255) NOT NULL,
	[Applied] [datetime] NOT NULL,
 CONSTRAINT [PK_SchemaVersions_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Setting]    Script Date: 1/11/2021 1:49:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Setting](
	[SettingId] [int] IDENTITY(1,1) NOT NULL,
	[EntityName] [nvarchar](50) NOT NULL,
	[EntityId] [int] NOT NULL,
	[SettingName] [nvarchar](50) NOT NULL,
	[SettingValue] [nvarchar](max) NOT NULL,
	[CreatedBy] [nvarchar](256) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](256) NOT NULL,
	[ModifiedOn] [datetime] NOT NULL,
 CONSTRAINT [PK_Setting] PRIMARY KEY CLUSTERED 
(
	[SettingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Site]    Script Date: 1/11/2021 1:49:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Site](
	[SiteId] [int] IDENTITY(1,1) NOT NULL,
	[TenantId] [int] NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[LogoFileId] [int] NULL,
	[FaviconFileId] [int] NULL,
	[DefaultThemeType] [nvarchar](200) NOT NULL,
	[DefaultLayoutType] [nvarchar](200) NOT NULL,
	[DefaultContainerType] [nvarchar](200) NOT NULL,
	[PwaIsEnabled] [bit] NOT NULL,
	[PwaAppIconFileId] [int] NULL,
	[PwaSplashIconFileId] [int] NULL,
	[AllowRegistration] [bit] NOT NULL,
	[CreatedBy] [nvarchar](256) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](256) NOT NULL,
	[ModifiedOn] [datetime] NOT NULL,
	[DeletedBy] [nvarchar](256) NULL,
	[DeletedOn] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Site] PRIMARY KEY CLUSTERED 
(
	[SiteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tenant]    Script Date: 1/11/2021 1:49:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tenant](
	[TenantId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[DBConnectionString] [nvarchar](1024) NOT NULL,
	[Version] [nvarchar](50) NULL,
	[CreatedBy] [nvarchar](256) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](256) NOT NULL,
	[ModifiedOn] [datetime] NOT NULL,
 CONSTRAINT [PK_Tenant] PRIMARY KEY CLUSTERED 
(
	[TenantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 1/11/2021 1:49:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](256) NOT NULL,
	[DisplayName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](256) NOT NULL,
	[PhotoFileId] [int] NULL,
	[LastLoginOn] [datetime] NULL,
	[LastIPAddress] [nvarchar](50) NOT NULL,
	[CreatedBy] [nvarchar](256) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](256) NOT NULL,
	[ModifiedOn] [datetime] NOT NULL,
	[DeletedBy] [nvarchar](256) NULL,
	[DeletedOn] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 1/11/2021 1:49:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole](
	[UserRoleId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
	[EffectiveDate] [datetime] NULL,
	[ExpiryDate] [datetime] NULL,
	[CreatedBy] [nvarchar](256) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](256) NOT NULL,
	[ModifiedOn] [datetime] NOT NULL,
 CONSTRAINT [PK_UserRole] PRIMARY KEY CLUSTERED 
(
	[UserRoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Alias] ON 

INSERT [dbo].[Alias] ([AliasId], [Name], [TenantId], [SiteId], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn]) VALUES (1, N'localhost:44357', 1, 1, N'', CAST(N'2021-01-07T18:40:17.923' AS DateTime), N'', CAST(N'2021-01-07T18:40:26.350' AS DateTime))
SET IDENTITY_INSERT [dbo].[Alias] OFF
GO
INSERT [dbo].[AspNetUsers] ([Id], [UserName], [NormalizedUserName], [Email], [NormalizedEmail], [EmailConfirmed], [PasswordHash], [SecurityStamp], [ConcurrencyStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEnd], [LockoutEnabled], [AccessFailedCount]) VALUES (N'1986ec59-fd7c-4519-8679-3e7c471657dc', N'host', N'HOST', N'baodang@gearment.com', N'BAODANG@GEARMENT.COM', 1, N'AQAAAAEAACcQAAAAEJg8WLq7ZMfInJV9aQj67Ufi/HnyO/OVhczw1zmcwkdHjKRbna3FNM8DbIaalSweqA==', N'4YSUSIWMQPHS3VTFRYWHMFK2YGNTPRAP', N'9fd237fc-8d87-4f81-9c04-469dc9db76a4', NULL, 0, 0, NULL, 1, 0)
GO
SET IDENTITY_INSERT [dbo].[File] ON 

INSERT [dbo].[File] ([FileId], [FolderId], [Name], [Extension], [Size], [ImageHeight], [ImageWidth], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [DeletedBy], [DeletedOn], [IsDeleted]) VALUES (1, 1, N'logo-white.png', N'png', 8192, 80, 250, N'', CAST(N'2021-01-07T18:40:22.997' AS DateTime), N'', CAST(N'2021-01-07T18:40:22.997' AS DateTime), NULL, NULL, 0)
INSERT [dbo].[File] ([FileId], [FolderId], [Name], [Extension], [Size], [ImageHeight], [ImageWidth], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [DeletedBy], [DeletedOn], [IsDeleted]) VALUES (2, 1, N'logo.png', N'png', 8908, 57, 524, N'host', CAST(N'2021-01-07T18:41:34.313' AS DateTime), N'host', CAST(N'2021-01-07T18:41:34.313' AS DateTime), NULL, NULL, 0)
INSERT [dbo].[File] ([FileId], [FolderId], [Name], [Extension], [Size], [ImageHeight], [ImageWidth], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [DeletedBy], [DeletedOn], [IsDeleted]) VALUES (3, 1, N'g_in_mug_left_DvF_icon.ico', N'ico', 30590, 56, 56, N'host', CAST(N'2021-01-07T18:43:12.883' AS DateTime), N'host', CAST(N'2021-01-07T18:43:12.883' AS DateTime), NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[File] OFF
GO
SET IDENTITY_INSERT [dbo].[Folder] ON 

INSERT [dbo].[Folder] ([FolderId], [SiteId], [Path], [Name], [ParentId], [Order], [IsSystem], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [DeletedBy], [DeletedOn], [IsDeleted]) VALUES (1, 1, N'', N'Root', NULL, 1, 1, N'', CAST(N'2021-01-07T18:40:22.770' AS DateTime), N'', CAST(N'2021-01-07T18:40:22.770' AS DateTime), NULL, NULL, 0)
INSERT [dbo].[Folder] ([FolderId], [SiteId], [Path], [Name], [ParentId], [Order], [IsSystem], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [DeletedBy], [DeletedOn], [IsDeleted]) VALUES (2, 1, N'Users\', N'Users', 1, 1, 1, N'', CAST(N'2021-01-07T18:40:22.853' AS DateTime), N'', CAST(N'2021-01-07T18:40:22.853' AS DateTime), NULL, NULL, 0)
INSERT [dbo].[Folder] ([FolderId], [SiteId], [Path], [Name], [ParentId], [Order], [IsSystem], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [DeletedBy], [DeletedOn], [IsDeleted]) VALUES (3, 1, N'Users\1\', N'My Folder', 2, 1, 1, N'', CAST(N'2021-01-07T18:40:26.290' AS DateTime), N'', CAST(N'2021-01-07T18:40:26.290' AS DateTime), NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[Folder] OFF
GO
SET IDENTITY_INSERT [dbo].[GearmentDepartment] ON 

INSERT [dbo].[GearmentDepartment] ([DepartmentId], [ModuleId], [Name], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [DailyStartTime], [DailyEndTime], [BreakStartTime], [BreakEndTime], [TotalRestHour]) VALUES (1, 1004, N'T-shirt', N'host', CAST(N'2021-01-08T19:19:09.090' AS DateTime), N'host', CAST(N'2021-01-08T20:49:43.563' AS DateTime), CAST(N'2021-01-08T08:00:00.000' AS DateTime), CAST(N'2021-01-08T16:00:00.000' AS DateTime), CAST(N'2021-01-08T10:00:00.000' AS DateTime), CAST(N'2021-01-08T12:00:00.000' AS DateTime), 1)
INSERT [dbo].[GearmentDepartment] ([DepartmentId], [ModuleId], [Name], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [DailyStartTime], [DailyEndTime], [BreakStartTime], [BreakEndTime], [TotalRestHour]) VALUES (2, 1004, N'Mug', N'host', CAST(N'2021-01-08T20:51:59.920' AS DateTime), N'host', CAST(N'2021-01-08T20:51:59.920' AS DateTime), CAST(N'2021-01-08T08:00:00.000' AS DateTime), CAST(N'2021-01-08T16:00:00.000' AS DateTime), CAST(N'2021-01-08T10:00:00.000' AS DateTime), CAST(N'2021-01-08T12:00:00.000' AS DateTime), 1)
INSERT [dbo].[GearmentDepartment] ([DepartmentId], [ModuleId], [Name], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [DailyStartTime], [DailyEndTime], [BreakStartTime], [BreakEndTime], [TotalRestHour]) VALUES (3, 1004, N'Bowl', N'host', CAST(N'2021-01-08T20:53:59.150' AS DateTime), N'host', CAST(N'2021-01-08T20:53:59.150' AS DateTime), CAST(N'2021-01-15T08:00:00.000' AS DateTime), CAST(N'2021-01-15T16:00:00.000' AS DateTime), CAST(N'2021-01-15T10:00:00.000' AS DateTime), CAST(N'2021-01-15T12:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[GearmentDepartment] OFF
GO
SET IDENTITY_INSERT [dbo].[GearmentEmployee] ON 

INSERT [dbo].[GearmentEmployee] ([EmployeeId], [ModuleId], [Name], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [PayrollID], [Rate], [Department], [StartDate], [Status], [Note]) VALUES (13, 1005, N'Bao Dang', N'host', CAST(N'2021-01-11T17:45:12.583' AS DateTime), N'host', CAST(N'2021-01-11T19:06:28.247' AS DateTime), 0, 14.5, N'T-shirt', CAST(N'2021-01-11T00:00:00.000' AS DateTime), N'Active', N'')
INSERT [dbo].[GearmentEmployee] ([EmployeeId], [ModuleId], [Name], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [PayrollID], [Rate], [Department], [StartDate], [Status], [Note]) VALUES (14, 1005, N'tetss', N'host', CAST(N'2021-01-11T17:46:21.350' AS DateTime), N'host', CAST(N'2021-01-11T19:38:10.820' AS DateTime), 13123, 14, N'Bowl', CAST(N'2021-01-11T00:00:00.000' AS DateTime), N'Active', N'')
INSERT [dbo].[GearmentEmployee] ([EmployeeId], [ModuleId], [Name], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [PayrollID], [Rate], [Department], [StartDate], [Status], [Note]) VALUES (15, 1005, N'ttttt', N'host', CAST(N'2021-01-11T17:46:32.487' AS DateTime), N'host', CAST(N'2021-01-11T19:30:33.963' AS DateTime), 0, 14, N'Poster', CAST(N'2021-01-11T00:00:00.000' AS DateTime), N'InActive', N'')
SET IDENTITY_INSERT [dbo].[GearmentEmployee] OFF
GO
SET IDENTITY_INSERT [dbo].[HtmlText] ON 

INSERT [dbo].[HtmlText] ([HtmlTextId], [ModuleId], [Content], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn]) VALUES (3, 3, N'<p>Oqtane allows you to control access to your content using security roles. This module is only visible to Registered Users of the site.</p>', N'', CAST(N'2021-01-07T18:40:23.660' AS DateTime), N'', CAST(N'2021-01-07T18:40:23.660' AS DateTime))
SET IDENTITY_INSERT [dbo].[HtmlText] OFF
GO
SET IDENTITY_INSERT [dbo].[Job] ON 

INSERT [dbo].[Job] ([JobId], [Name], [JobType], [Frequency], [Interval], [StartDate], [EndDate], [IsEnabled], [IsStarted], [IsExecuting], [NextExecution], [RetentionHistory], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn]) VALUES (1, N'Notification Job', N'Oqtane.Infrastructure.NotificationJob, Oqtane.Server', N'm', 1, NULL, NULL, 0, 1, 0, NULL, 10, N'', CAST(N'2021-01-07T18:40:17.853' AS DateTime), N'', CAST(N'2021-01-11T21:47:14.347' AS DateTime))
SET IDENTITY_INSERT [dbo].[Job] OFF
GO
SET IDENTITY_INSERT [dbo].[Log] ON 

INSERT [dbo].[Log] ([LogId], [SiteId], [LogDate], [PageId], [ModuleId], [UserId], [Url], [Server], [Category], [Feature], [Function], [Level], [Message], [MessageTemplate], [Exception], [Properties]) VALUES (2, 1, CAST(N'2021-01-07T18:40:41.477' AS DateTime), 4, 6, NULL, N'http://localhost:44357/login?returnurl=/', N'DESKTOP-KO5OJEV', N'Oqtane.Modules.Admin.Login.Index, Oqtane.Client, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null', N'Login', N'Security', N'Information', N'Login Successful For Username host', N'Login Successful For Username {Username}', NULL, N'{"Username":"host"}')
GO
SET IDENTITY_INSERT [dbo].[Log] OFF
GO
SET IDENTITY_INSERT [dbo].[Module] ON 

INSERT [dbo].[Module] ([ModuleId], [SiteId], [ModuleDefinitionName], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [AllPages]) VALUES (1, 1, N'Oqtane.Modules.HtmlText, Oqtane.Client', N'', CAST(N'2021-01-07T18:40:23.420' AS DateTime), N'', CAST(N'2021-01-07T18:40:23.420' AS DateTime), 0)
INSERT [dbo].[Module] ([ModuleId], [SiteId], [ModuleDefinitionName], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [AllPages]) VALUES (2, 1, N'Oqtane.Modules.HtmlText, Oqtane.Client', N'', CAST(N'2021-01-07T18:40:23.627' AS DateTime), N'', CAST(N'2021-01-07T18:40:23.627' AS DateTime), 0)
INSERT [dbo].[Module] ([ModuleId], [SiteId], [ModuleDefinitionName], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [AllPages]) VALUES (3, 1, N'Oqtane.Modules.HtmlText, Oqtane.Client', N'', CAST(N'2021-01-07T18:40:23.650' AS DateTime), N'', CAST(N'2021-01-07T18:40:23.650' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Module] OFF
GO
SET IDENTITY_INSERT [dbo].[ModuleDefinition] ON 

INSERT [dbo].[ModuleDefinition] ([ModuleDefinitionId], [ModuleDefinitionName], [Name], [Description], [Categories], [Version], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn]) VALUES (1, N'Oqtane.Modules.HtmlText, Oqtane.Client', N'HtmlText', N'Renders HTML or Text Content', N'Common', N'1.0.0', N'', CAST(N'2021-01-07T18:40:21.577' AS DateTime), N'', CAST(N'2021-01-07T18:40:21.577' AS DateTime))
INSERT [dbo].[ModuleDefinition] ([ModuleDefinitionId], [ModuleDefinitionName], [Name], [Description], [Categories], [Version], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn]) VALUES (2, N'Oqtane.Modules.Admin.Users, Oqtane.Client', N'', N'', N'', N'', N'', CAST(N'2021-01-07T18:40:21.607' AS DateTime), N'', CAST(N'2021-01-07T18:40:21.607' AS DateTime))
INSERT [dbo].[ModuleDefinition] ([ModuleDefinitionId], [ModuleDefinitionName], [Name], [Description], [Categories], [Version], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn]) VALUES (3, N'Oqtane.Modules.Admin.UserProfile, Oqtane.Client', N'', N'', N'', N'', N'', CAST(N'2021-01-07T18:40:21.613' AS DateTime), N'', CAST(N'2021-01-07T18:40:21.613' AS DateTime))
SET IDENTITY_INSERT [dbo].[ModuleDefinition] OFF
GO
SET IDENTITY_INSERT [dbo].[Page] ON 

INSERT [dbo].[Page] ([PageId], [SiteId], [Path], [Name], [Title], [ThemeType], [Icon], [ParentId], [Order], [IsNavigation], [Url], [LayoutType], [UserId], [IsPersonalizable], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [DeletedBy], [DeletedOn], [IsDeleted], [DefaultContainerType]) VALUES (1, 1, N'dashboard', N'Dashboard', N'', N'', N'oi oi-home', NULL, 1, 1, N'', N'', NULL, 0, N'', CAST(N'2021-01-07T18:40:23.347' AS DateTime), N'host', CAST(N'2021-01-08T18:37:15.700' AS DateTime), NULL, NULL, 0, N'')
INSERT [dbo].[Page] ([PageId], [SiteId], [Path], [Name], [Title], [ThemeType], [Icon], [ParentId], [Order], [IsNavigation], [Url], [LayoutType], [UserId], [IsPersonalizable], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [DeletedBy], [DeletedOn], [IsDeleted], [DefaultContainerType]) VALUES (2, 1, N'settings', N'Settings', N'', N'', N'oi oi-wrench', NULL, 5, 1, N'', N'', NULL, 0, N'', CAST(N'2021-01-07T18:40:23.670' AS DateTime), N'host', CAST(N'2021-01-11T19:52:07.793' AS DateTime), NULL, NULL, 0, N'')
INSERT [dbo].[Page] ([PageId], [SiteId], [Path], [Name], [Title], [ThemeType], [Icon], [ParentId], [Order], [IsNavigation], [Url], [LayoutType], [UserId], [IsPersonalizable], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [DeletedBy], [DeletedOn], [IsDeleted], [DefaultContainerType]) VALUES (3, 1, N'mypage', N'My Page', N'', N'', N'oi oi-target', NULL, 7, 1, N'', N'', NULL, 1, N'', CAST(N'2021-01-07T18:40:23.750' AS DateTime), N'host', CAST(N'2021-01-11T19:52:07.850' AS DateTime), NULL, NULL, 0, N'')
SET IDENTITY_INSERT [dbo].[Page] OFF
GO
SET IDENTITY_INSERT [dbo].[PageModule] ON 

INSERT [dbo].[PageModule] ([PageModuleId], [PageId], [ModuleId], [Title], [Pane], [Order], [ContainerType], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [DeletedBy], [DeletedOn], [IsDeleted]) VALUES (1, 1, 1, N'Welcome To Oqtane...', N'Content', 1, N'', N'', CAST(N'2021-01-07T18:40:23.577' AS DateTime), N'', CAST(N'2021-01-07T18:40:23.577' AS DateTime), NULL, NULL, 0)
INSERT [dbo].[PageModule] ([PageModuleId], [PageId], [ModuleId], [Title], [Pane], [Order], [ContainerType], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [DeletedBy], [DeletedOn], [IsDeleted]) VALUES (2, 1, 2, N'MIT License', N'Content', 1, N'', N'', CAST(N'2021-01-07T18:40:23.643' AS DateTime), N'', CAST(N'2021-01-07T18:40:23.643' AS DateTime), NULL, NULL, 0)
INSERT [dbo].[PageModule] ([PageModuleId], [PageId], [ModuleId], [Title], [Pane], [Order], [ContainerType], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [DeletedBy], [DeletedOn], [IsDeleted]) VALUES (3, 1, 3, N'Secure Content', N'Content', 1, N'', N'', CAST(N'2021-01-07T18:40:23.663' AS DateTime), N'', CAST(N'2021-01-07T18:40:23.663' AS DateTime), NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[PageModule] OFF
GO
SET IDENTITY_INSERT [dbo].[Permission] ON 

INSERT [dbo].[Permission] ([PermissionId], [SiteId], [EntityName], [EntityId], [PermissionName], [RoleId], [UserId], [IsAuthorized], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn]) VALUES (1, 1, N'Folder', 1, N'Browse', 4, NULL, 1, N'', CAST(N'2021-01-07T18:40:22.830' AS DateTime), N'', CAST(N'2021-01-07T18:40:22.830' AS DateTime))
INSERT [dbo].[Permission] ([PermissionId], [SiteId], [EntityName], [EntityId], [PermissionName], [RoleId], [UserId], [IsAuthorized], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn]) VALUES (2, 1, N'Folder', 1, N'Edit', 4, NULL, 1, N'', CAST(N'2021-01-07T18:40:22.830' AS DateTime), N'', CAST(N'2021-01-07T18:40:22.830' AS DateTime))
INSERT [dbo].[Permission] ([PermissionId], [SiteId], [EntityName], [EntityId], [PermissionName], [RoleId], [UserId], [IsAuthorized], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn]) VALUES (3, 1, N'Folder', 1, N'View', 1, NULL, 1, N'', CAST(N'2021-01-07T18:40:22.830' AS DateTime), N'', CAST(N'2021-01-07T18:40:22.830' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Permission] OFF
GO
SET IDENTITY_INSERT [dbo].[Profile] ON 

INSERT [dbo].[Profile] ([ProfileId], [SiteId], [Name], [Title], [Description], [Category], [ViewOrder], [MaxLength], [DefaultValue], [IsRequired], [IsPrivate], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [Options]) VALUES (1, 1, N'FirstName', N'First Name', N'Your First Or Given Name', N'Name', 1, 50, N'', 1, 0, N'', CAST(N'2021-01-07T18:40:22.660' AS DateTime), N'', CAST(N'2021-01-07T18:40:22.660' AS DateTime), NULL)
INSERT [dbo].[Profile] ([ProfileId], [SiteId], [Name], [Title], [Description], [Category], [ViewOrder], [MaxLength], [DefaultValue], [IsRequired], [IsPrivate], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [Options]) VALUES (2, 1, N'LastName', N'Last Name', N'Your Last Or Family Name', N'Name', 2, 50, N'', 1, 0, N'', CAST(N'2021-01-07T18:40:22.677' AS DateTime), N'', CAST(N'2021-01-07T18:40:22.677' AS DateTime), NULL)
INSERT [dbo].[Profile] ([ProfileId], [SiteId], [Name], [Title], [Description], [Category], [ViewOrder], [MaxLength], [DefaultValue], [IsRequired], [IsPrivate], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [Options]) VALUES (3, 1, N'Street', N'Street', N'Street Or Building Address', N'Address', 3, 50, N'', 0, 0, N'', CAST(N'2021-01-07T18:40:22.680' AS DateTime), N'', CAST(N'2021-01-07T18:40:22.680' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Profile] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([RoleId], [SiteId], [Name], [Description], [IsAutoAssigned], [IsSystem], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn]) VALUES (1, NULL, N'All Users', N'All Users', 0, 1, N'', CAST(N'2021-01-07T18:40:22.610' AS DateTime), N'', CAST(N'2021-01-07T18:40:22.610' AS DateTime))
INSERT [dbo].[Role] ([RoleId], [SiteId], [Name], [Description], [IsAutoAssigned], [IsSystem], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn]) VALUES (2, NULL, N'Host Users', N'Application Administrators', 0, 1, N'', CAST(N'2021-01-07T18:40:22.623' AS DateTime), N'', CAST(N'2021-01-07T18:40:22.623' AS DateTime))
INSERT [dbo].[Role] ([RoleId], [SiteId], [Name], [Description], [IsAutoAssigned], [IsSystem], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn]) VALUES (3, 1, N'Registered Users', N'Registered Users', 1, 1, N'', CAST(N'2021-01-07T18:40:22.627' AS DateTime), N'', CAST(N'2021-01-07T18:40:22.627' AS DateTime))
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[SchemaVersions] ON 

INSERT [dbo].[SchemaVersions] ([Id], [ScriptName], [Applied]) VALUES (1, N'Oqtane.Scripts.Master.00.00.00.00.sql', CAST(N'2021-01-07T10:40:16.403' AS DateTime))
INSERT [dbo].[SchemaVersions] ([Id], [ScriptName], [Applied]) VALUES (2, N'Oqtane.Scripts.Master.00.09.00.00.sql', CAST(N'2021-01-07T10:40:16.697' AS DateTime))
INSERT [dbo].[SchemaVersions] ([Id], [ScriptName], [Applied]) VALUES (3, N'Oqtane.Scripts.Master.01.00.01.00.sql', CAST(N'2021-01-07T10:40:16.880' AS DateTime))
SET IDENTITY_INSERT [dbo].[SchemaVersions] OFF
GO
SET IDENTITY_INSERT [dbo].[Setting] ON 

INSERT [dbo].[Setting] ([SettingId], [EntityName], [EntityId], [SettingName], [SettingValue], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn]) VALUES (1, N'Site', 1, N'SMTPHost', N'', N'host', CAST(N'2021-01-07T18:41:15.653' AS DateTime), N'host', CAST(N'2021-01-07T18:41:15.653' AS DateTime))
INSERT [dbo].[Setting] ([SettingId], [EntityName], [EntityId], [SettingName], [SettingValue], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn]) VALUES (2, N'Site', 1, N'SMTPPort', N'', N'host', CAST(N'2021-01-07T18:41:15.733' AS DateTime), N'host', CAST(N'2021-01-07T18:41:15.733' AS DateTime))
INSERT [dbo].[Setting] ([SettingId], [EntityName], [EntityId], [SettingName], [SettingValue], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn]) VALUES (3, N'Site', 1, N'SMTPSSL', N'False', N'host', CAST(N'2021-01-07T18:41:15.833' AS DateTime), N'host', CAST(N'2021-01-07T18:41:15.833' AS DateTime))
SET IDENTITY_INSERT [dbo].[Setting] OFF
GO
SET IDENTITY_INSERT [dbo].[Site] ON 

SET IDENTITY_INSERT [dbo].[Site] OFF
GO
SET IDENTITY_INSERT [dbo].[Tenant] ON 

INSERT [dbo].[Tenant] ([TenantId], [Name], [DBConnectionString], [Version], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn]) VALUES (1, N'Master', N'Data Source=DESKTOP-KO5OJEV;Initial Catalog=Oqtane-202101071839;User ID=sa;Password=M00nlight!', N'2.0.0', N'', CAST(N'2021-01-07T18:40:17.117' AS DateTime), N'', CAST(N'2021-01-07T18:40:26.367' AS DateTime))
SET IDENTITY_INSERT [dbo].[Tenant] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserId], [Username], [DisplayName], [Email], [PhotoFileId], [LastLoginOn], [LastIPAddress], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [DeletedBy], [DeletedOn], [IsDeleted]) VALUES (1, N'host', N'host', N'baodang@gearment.com', NULL, CAST(N'2021-01-08T19:21:07.957' AS DateTime), N'::1', N'', CAST(N'2021-01-07T18:40:26.180' AS DateTime), N'', CAST(N'2021-01-08T19:21:07.977' AS DateTime), NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET IDENTITY_INSERT [dbo].[UserRole] ON 

INSERT [dbo].[UserRole] ([UserRoleId], [UserId], [RoleId], [EffectiveDate], [ExpiryDate], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn]) VALUES (1, 1, 2, NULL, NULL, N'', CAST(N'2021-01-07T18:40:26.247' AS DateTime), N'', CAST(N'2021-01-07T18:40:26.247' AS DateTime))
SET IDENTITY_INSERT [dbo].[UserRole] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Alias]    Script Date: 1/11/2021 1:49:40 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Alias] ON [dbo].[Alias]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 1/11/2021 1:49:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailIndex]    Script Date: 1/11/2021 1:49:40 PM ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 1/11/2021 1:49:40 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_File]    Script Date: 1/11/2021 1:49:40 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_File] ON [dbo].[File]
(
	[FolderId] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Folder]    Script Date: 1/11/2021 1:49:40 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Folder] ON [dbo].[Folder]
(
	[SiteId] ASC,
	[Path] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Job]    Script Date: 1/11/2021 1:49:40 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Job] ON [dbo].[Job]
(
	[JobType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ModuleDefinition]    Script Date: 1/11/2021 1:49:40 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_ModuleDefinition] ON [dbo].[ModuleDefinition]
(
	[ModuleDefinitionName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Page]    Script Date: 1/11/2021 1:49:40 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Page] ON [dbo].[Page]
(
	[SiteId] ASC,
	[Path] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Permission]    Script Date: 1/11/2021 1:49:40 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Permission] ON [dbo].[Permission]
(
	[SiteId] ASC,
	[EntityName] ASC,
	[EntityId] ASC,
	[PermissionName] ASC,
	[RoleId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Profile]    Script Date: 1/11/2021 1:49:40 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Profile] ON [dbo].[Profile]
(
	[SiteId] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Role]    Script Date: 1/11/2021 1:49:40 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Role] ON [dbo].[Role]
(
	[SiteId] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Setting]    Script Date: 1/11/2021 1:49:40 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Setting] ON [dbo].[Setting]
(
	[EntityName] ASC,
	[EntityId] ASC,
	[SettingName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Site]    Script Date: 1/11/2021 1:49:40 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Site] ON [dbo].[Site]
(
	[TenantId] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Tenant]    Script Date: 1/11/2021 1:49:40 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Tenant] ON [dbo].[Tenant]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_User]    Script Date: 1/11/2021 1:49:40 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_User] ON [dbo].[User]
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserRole]    Script Date: 1/11/2021 1:49:40 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_UserRole] ON [dbo].[UserRole]
(
	[RoleId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GearmentDepartment] ADD  DEFAULT (getdate()) FOR [DailyStartTime]
GO
ALTER TABLE [dbo].[GearmentDepartment] ADD  DEFAULT (getdate()) FOR [DailyEndTime]
GO
ALTER TABLE [dbo].[GearmentDepartment] ADD  DEFAULT (getdate()) FOR [BreakStartTime]
GO
ALTER TABLE [dbo].[GearmentDepartment] ADD  DEFAULT (getdate()) FOR [BreakEndTime]
GO
ALTER TABLE [dbo].[GearmentDepartment] ADD  DEFAULT ((0)) FOR [TotalRestHour]
GO
ALTER TABLE [dbo].[GearmentEmployee] ADD  DEFAULT ((0)) FOR [PayrollID]
GO
ALTER TABLE [dbo].[GearmentEmployee] ADD  DEFAULT ((0)) FOR [Rate]
GO
ALTER TABLE [dbo].[GearmentEmployee] ADD  DEFAULT ('') FOR [Department]
GO
ALTER TABLE [dbo].[GearmentEmployee] ADD  DEFAULT (getdate()) FOR [StartDate]
GO
ALTER TABLE [dbo].[GearmentEmployee] ADD  DEFAULT ('') FOR [Status]
GO
ALTER TABLE [dbo].[GearmentEmployee] ADD  DEFAULT ('') FOR [Note]
GO
ALTER TABLE [dbo].[Alias]  WITH CHECK ADD  CONSTRAINT [FK_Alias_Tenant] FOREIGN KEY([TenantId])
REFERENCES [dbo].[Tenant] ([TenantId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Alias] CHECK CONSTRAINT [FK_Alias_Tenant]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[File]  WITH CHECK ADD  CONSTRAINT [FK_File_Folder] FOREIGN KEY([FolderId])
REFERENCES [dbo].[Folder] ([FolderId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[File] CHECK CONSTRAINT [FK_File_Folder]
GO
ALTER TABLE [dbo].[Folder]  WITH CHECK ADD  CONSTRAINT [FK_Folder_Site] FOREIGN KEY([SiteId])
REFERENCES [dbo].[Site] ([SiteId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Folder] CHECK CONSTRAINT [FK_Folder_Site]
GO
ALTER TABLE [dbo].[GearmentDepartment]  WITH CHECK ADD  CONSTRAINT [FK_GearmentDepartment_Module] FOREIGN KEY([ModuleId])
REFERENCES [dbo].[Module] ([ModuleId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GearmentDepartment] CHECK CONSTRAINT [FK_GearmentDepartment_Module]
GO
ALTER TABLE [dbo].[GearmentEmployee]  WITH CHECK ADD  CONSTRAINT [FK_GearmentEmployee_Module] FOREIGN KEY([ModuleId])
REFERENCES [dbo].[Module] ([ModuleId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GearmentEmployee] CHECK CONSTRAINT [FK_GearmentEmployee_Module]
GO
ALTER TABLE [dbo].[GearmentTimesheet]  WITH CHECK ADD  CONSTRAINT [FK_GearmentTimesheet_Module] FOREIGN KEY([ModuleId])
REFERENCES [dbo].[Module] ([ModuleId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GearmentTimesheet] CHECK CONSTRAINT [FK_GearmentTimesheet_Module]
GO
ALTER TABLE [dbo].[HtmlText]  WITH CHECK ADD  CONSTRAINT [FK_HtmlText_Module] FOREIGN KEY([ModuleId])
REFERENCES [dbo].[Module] ([ModuleId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HtmlText] CHECK CONSTRAINT [FK_HtmlText_Module]
GO
ALTER TABLE [dbo].[JobLog]  WITH NOCHECK ADD  CONSTRAINT [FK_JobLog_Job] FOREIGN KEY([JobId])
REFERENCES [dbo].[Job] ([JobId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[JobLog] CHECK CONSTRAINT [FK_JobLog_Job]
GO
ALTER TABLE [dbo].[Log]  WITH CHECK ADD  CONSTRAINT [FK_Log_Site] FOREIGN KEY([SiteId])
REFERENCES [dbo].[Site] ([SiteId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Log] CHECK CONSTRAINT [FK_Log_Site]
GO
ALTER TABLE [dbo].[Module]  WITH CHECK ADD  CONSTRAINT [FK_Module_Site] FOREIGN KEY([SiteId])
REFERENCES [dbo].[Site] ([SiteId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Module] CHECK CONSTRAINT [FK_Module_Site]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [FK_Notification_Site] FOREIGN KEY([SiteId])
REFERENCES [dbo].[Site] ([SiteId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FK_Notification_Site]
GO
ALTER TABLE [dbo].[Page]  WITH CHECK ADD  CONSTRAINT [FK_Page_Site] FOREIGN KEY([SiteId])
REFERENCES [dbo].[Site] ([SiteId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Page] CHECK CONSTRAINT [FK_Page_Site]
GO
ALTER TABLE [dbo].[PageModule]  WITH CHECK ADD  CONSTRAINT [FK_PageModule_Module] FOREIGN KEY([ModuleId])
REFERENCES [dbo].[Module] ([ModuleId])
GO
ALTER TABLE [dbo].[PageModule] CHECK CONSTRAINT [FK_PageModule_Module]
GO
ALTER TABLE [dbo].[PageModule]  WITH CHECK ADD  CONSTRAINT [FK_PageModule_Page] FOREIGN KEY([PageId])
REFERENCES [dbo].[Page] ([PageId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PageModule] CHECK CONSTRAINT [FK_PageModule_Page]
GO
ALTER TABLE [dbo].[Permission]  WITH CHECK ADD  CONSTRAINT [FK_Permission_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([RoleId])
GO
ALTER TABLE [dbo].[Permission] CHECK CONSTRAINT [FK_Permission_Role]
GO
ALTER TABLE [dbo].[Permission]  WITH CHECK ADD  CONSTRAINT [FK_Permission_Site] FOREIGN KEY([SiteId])
REFERENCES [dbo].[Site] ([SiteId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Permission] CHECK CONSTRAINT [FK_Permission_Site]
GO
ALTER TABLE [dbo].[Permission]  WITH CHECK ADD  CONSTRAINT [FK_Permission_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Permission] CHECK CONSTRAINT [FK_Permission_User]
GO
ALTER TABLE [dbo].[Profile]  WITH NOCHECK ADD  CONSTRAINT [FK_Profile_Sites] FOREIGN KEY([SiteId])
REFERENCES [dbo].[Site] ([SiteId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Profile] CHECK CONSTRAINT [FK_Profile_Sites]
GO
ALTER TABLE [dbo].[Role]  WITH CHECK ADD  CONSTRAINT [FK_Role_Site] FOREIGN KEY([SiteId])
REFERENCES [dbo].[Site] ([SiteId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Role] CHECK CONSTRAINT [FK_Role_Site]
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD  CONSTRAINT [FK_UserRole_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([RoleId])
GO
ALTER TABLE [dbo].[UserRole] CHECK CONSTRAINT [FK_UserRole_Role]
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD  CONSTRAINT [FK_UserRole_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRole] CHECK CONSTRAINT [FK_UserRole_User]
GO
USE [master]
GO
